body {
    font-family: 'Passion One', cursive;
}

#button-container {
    width: 100%;
    height: 10%; 
    overflow: auto;
    border-bottom: #007bff solid 4pt;
}

#movie-overview {
width: 40%;
border-right: #007bff solid 2pt;
overflow-x: auto;
}

#gif-container {
width: 40%;
border-left: #007bff solid 2pt;
overflow-y: auto;
height: 500px;
overflow: auto;
}

.container {
    position: relative;
}

#scroll {
    writing-mode: tb-rl;
    position: absolute;
    right: 2%;
    top:50%;
 }

 .main-title {
     color: #007bff;
 }

 html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; 
  }
