body {
    font-family: 'Passion One', cursive;
}

#button-container {
    width: 100%;
    height: 10%; 
    overflow: auto;
}

#movie-overview {
width: 40%;
border: red dashed 1pt;
}

#gif-container {
width: 40%;
border: red dashed 1pt;
}

