body {
    font-family: 'Passion One', cursive;
}

#button-container {
    width: 100%;
    height: 10%; 
    overflow: auto;
}

#movie-overview {
width: 40%;
border: red dashed 1pt;
overflow-x: auto;
}

#gif-container {
width: 40%;
border: red dashed 1pt;
overflow-y: auto;
height: 500px;
overflow: auto;
}

.container {
    position: relative;
}

#scroll {
    writing-mode: tb-rl;
    position: absolute;
    right: 2%;
    top:50%;
 }

